.page__content{
  display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    max-width:100%;
    height: auto;
    background: black;
}

.page__content__card{
  width: 35vw;
    height: 220px;
    display: flex;
    overflow: hidden;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 0.75rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
}

.Item img{
  width: 100%;
    height: 100%;
    object-fit: contain;
}

.seccion-title{
  flex-direction: column;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 10px;
}

.seccion-title h1:hover{
  font-size: 2rem;
  font-weight: bold;
  font-size: 30px;
    color: #ffc107;
}
