.page__content{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  max-width:100%;
  height: auto;
  background: black;
}

.page__content__card{
  width: 38vw;
  height: 220px;
  display: flex;
  overflow: hidden;
  background: rgb(60, 62, 68);
  border-radius: 0.5rem;
  margin: 0.75rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
}

.Item img{
  width: 100%;
    height: 100%;
    object-fit: contain;
}

.seccion-title{
  flex-direction: column;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    gap: 10px;
}

.seccion-title h1{
  font-size: 23.5px;
  font-weight: bold;
  margin: 0;
}

#specie:hover{
   color: #ffc107;
}

.seccion-title h1:hover{
  font-weight: bold;
  font-size: 23.5px;
  color: #ffc107;
  transform: rotate3d(0, 0, 1, -10deg);
  transition: all 0.5s ease-in-out;
}

.botones{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.botones button{
  width: 35px;
  height: 35px;
  border-radius: 19px;
  border: none;
  color: rgb(245, 12, 12);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}


@media screen and (max-width: 768px) {
  .page__content__card{
    width: 100%;
    height: auto;
  }

  .Item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .seccion-title{
    display: flex;
    width: 100%;
    height: auto;
  }

  .seccion-title h1{
    font-size: 13px;
    font-weight: bold;
    display: flex;
    text-align: center;
  }

  .seccion-title h1:hover{
  font-weight: bold;
  font-size: 13px;
  color: #ffc107;
  transform: rotate3d(0, 0, 1, -10deg);
  transition: all 0.5s ease-in-out;
}

.seccion-title p{
  font-size: 12px;
  font-weight: bold;
      display: flex;
    text-align: center;
}
 
}