.search{
  background: black;
  display: flex;
}

.search__item{
  width: 100%;
  height: 100%;
  display: flex;
      justify-content: center;
}

.search__item input{
  width: 10%;
  height: 100%;
  border: none;
  background: transparent;
  color: goldenrod;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  display: flex;
  justify-items: center;
  align-items: center;
}